<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Dhrupad Blogs</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">OnlyBlogs</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/aboutus">ABOUT US</a></li>
          <li id="contact"><a href="/contactme">CONTACT US</a></li>
          <li id="compose"><a href="/compose">COMPOSE</a></li>
          <li id="post"><a href="/posts">POSTS</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
